Repository dataunions/dataunions, pull requests merged in 2022-10, with the labels that each got.

#433 Contracts package cleanup
  README.md
  package-lock.json
  packages/client/package.json
  packages/client/src/DataUnionAPI.ts
  packages/client/test/unit/setup.ts
  packages/contracts/.openzeppelin/polygon.json
  packages/contracts/.openzeppelin/unknown-100.json
  packages/contracts/README.md
  packages/contracts/contracts/DataUnionFactory.sol
  packages/contracts/contracts/DataUnionTemplate.sol
  packages/contracts/contracts/du2/BinanceAdapter.sol
  packages/contracts/contracts/du2/CloneLib.sol
  packages/contracts/contracts/du2/DataUnionFactoryMainnet.sol
  packages/contracts/contracts/du2/DataUnionFactorySidechain.sol
  packages/contracts/contracts/du2/DataUnionMainnet.sol
  packages/contracts/contracts/du2/DataUnionSidechain.sol
  packages/contracts/contracts/du2/test/MockAMB.sol
  packages/contracts/contracts/du2/test/MockTokenMediator.sol
  packages/contracts/contracts/du2/uniswap-v2-periphery/IUniswapV2Router01.sol
  packages/contracts/contracts/du2/uniswap-v2-periphery/IUniswapV2Router02.sol
  packages/contracts/contracts/du2/xdai-mainnet-bridge/IAMB.sol
  packages/contracts/contracts/du2/xdai-mainnet-bridge/IERC20Receiver.sol
  packages/contracts/contracts/du2/xdai-mainnet-bridge/IMultiTokenMediator.sol
  packages/contracts/contracts/du2/xdai-mainnet-bridge/ISingleTokenMediator.sol
  packages/contracts/contracts/du2/xdai-mainnet-bridge/ITokenMediator.sol
  packages/contracts/index.js
  packages/contracts/package.json
  packages/contracts/scripts/du2/deploy-ban-limit-modules.ts
  packages/contracts/scripts/du2/deploy-du-template-mainnet.ts
  packages/contracts/scripts/du2/deploy-du-template-sidechain.ts
  packages/contracts/scripts/du2/deploy-du.ts
  packages/contracts/scripts/du2/deploy-mainnet-xdai.ts
  packages/contracts/test/contracts/BanModule.test.ts
  packages/contracts/test/contracts/DataUnionFactory.test.ts
  packages/contracts/test/contracts/DataUnionTemplate.test.ts
  packages/contracts/test/contracts/LimitWithdrawModule.test.ts
  packages/contracts/test/contracts/LimitWithdrawModule.ts
  packages/contracts/test/contracts/du2/BinanceAdapter.test.ts
  packages/contracts/test/contracts/du2/DataUnionFactorySidechain.test.ts
  packages/contracts/test/contracts/du2/DataUnionSidechain.test.ts
  packages/contracts/test/contracts/du2/UniswapV2Factory.json
  packages/contracts/test/contracts/du2/UniswapV2Router02.json
  packages/contracts/test/contracts/du2/WETH9.json
  packages/default-join-server/package.json
  packages/join-server/package.json
  packages/thegraph-subgraph/abis/DataUnionFactory.json
  packages/thegraph-subgraph/abis/DataUnionTemplate.json
Labels: documentation, build, test, client, join-server, contracts, thegraph-subgraph, default-join-server

#440 Update client readme
  packages/client/README.md
Labels: client

#441 ETH-381: Index RevenueReceived events in DU subgraph
  .github/workflows/ci.yaml
  package-lock.json
  packages/client/README.md
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/DataUnion.ts
  packages/client/src/DataUnionAPI.ts
  packages/client/src/authFetch.ts
  packages/client/src/index.ts
  packages/client/src/log.ts
  packages/client/test/unit/setup.ts
  packages/contracts/contracts/DataUnionFactory.sol
  packages/contracts/contracts/DefaultFeeOracle.sol
  packages/contracts/contracts/IFeeOracle.sol
  packages/contracts/package.json
  packages/contracts/scripts/copyAbisToSubgraph.sh
  packages/contracts/test/contracts/DataUnionFactory.test.ts
  packages/default-join-server/package.json
  packages/join-server/package.json
  packages/join-server/test/domain/Address.test.js
  packages/thegraph-subgraph/README.md
  packages/thegraph-subgraph/abis/DataUnionFactory.json
  packages/thegraph-subgraph/abis/DataUnionTemplate.json
  packages/thegraph-subgraph/package.json
  packages/thegraph-subgraph/schema.graphql
  packages/thegraph-subgraph/src/dataunion.ts
  packages/thegraph-subgraph/src/factory.ts
  packages/thegraph-subgraph/subgraph.development.yaml
  packages/thegraph-subgraph/subgraph.gnosis.production.yaml
  packages/thegraph-subgraph/subgraph.polygon.production.yaml
  packages/thegraph-subgraph/test/integration.ts
  packages/thegraph-subgraph/tsconfig.json
  scripts/copyAbis.sh
Labels: build, ci, test, client, join-server, contracts, thegraph-subgraph, default-join-server

#444 fix: thegraph bucketing bug
  packages/thegraph-subgraph/src/dataunion.ts
  packages/thegraph-subgraph/test/integration.ts
Labels: thegraph-subgraph
