Repository dataunions/dataunions, pull requests merged in 2022-08, with the labels that each got.

#233 build: remove unused jest-extended
  package-lock.json
  packages/client/package.json
Labels: build

#234 build(client): bump Ganache 7.4.1
  package-lock.json
  packages/client/package.json
Labels: build

#232 ci: rename workflows
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yaml
Labels: ci

#235 build: bump @streamr/config v2.3.0
  package-lock.json
  packages/client/package.json
  packages/contracts/package.json
  packages/join-server/package.json
Labels: build

#239 ci: various updates
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/workflows/ci.yaml
Labels: ci

#255 build(client): remove unused dev dependency nightwatch
  package-lock.json
  packages/client/package.json
Labels: build, client

#256 build(client): remove unused dev dependency bytes
  package-lock.json
  packages/client/package.json
Labels: build, client

#258 build: use exact versions
  package-lock.json
  packages/contracts/package.json
  packages/default-join-server/package.json
  packages/thegraph-subgraph/package.json
Labels: build, contracts, thegraph-subgraph, default-join-server

#259 ci: remove Dependabot PR limit for npm
  .github/dependabot.yaml
Labels: ci

#260 build(client): remove unused @ethersproject deps
  package-lock.json
  packages/client/package.json
Labels: build, client

#262 ci: Dependabot configuration update
  .github/dependabot.yaml
Labels: ci

#281 build: bump @ethersproject/* 5.7.0
  package-lock.json
  packages/client/package.json
Labels: build, client

#292 Revert "build(deps-dev): bump hardhat from 2.9.3 to 2.10.2 (#254)"
  package-lock.json
  packages/contracts/package.json
Labels: build, contracts

#293 Eth 359 thegraph lib update
  packages/thegraph-subgraph/README.md
  packages/thegraph-subgraph/package.json
  packages/thegraph-subgraph/src/dataunion.ts
  packages/thegraph-subgraph/subgraph.development.yaml
  packages/thegraph-subgraph/subgraph.gnosis.production.yaml
  packages/thegraph-subgraph/subgraph.polygon.production.yaml
Labels: build, thegraph-subgraph

#296 build(thegraph-subgraph): update package-lock.json
  package-lock.json
Labels: build

#297 build(thegraph-subgraph): add missing lint dependency
  .github/workflows/ci.yaml
  package-lock.json
  packages/thegraph-subgraph/package.json
Labels: build, ci, thegraph-subgraph

#231 build: prepare release process to work with npm workspace
  .github/labeler.yaml
  Makefile
  package-lock.json
  package.json
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.json
  packages/client/tsconfig.node.dataunion.json
  packages/client/tsconfig.node.json
  packages/config/index.d.ts
  packages/config/index.js
  packages/config/package.json
  packages/config/public.json
  packages/config/tsconfig.json
  packages/contracts/package.json
  packages/dev-config/LICENSE
  packages/dev-config/package.json
  packages/dev-config/ts/tsconfig.browser.json
  packages/eslint-config/.eslintrc.js
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  release-npm-update-version-package-json.bash
Labels: build, ci, client, contracts, eslint-config, config, dev-config

#298 build: move browser tests to placeholder package
  package-lock.json
  packages/client-test-browser/nightwatch.conf.js
  packages/client-test-browser/package.json
  packages/client-test-browser/test/github.ts
  packages/client-test-browser/test/google.ts
  packages/client-test-browser/tsconfig.json
  packages/client/package.json
  packages/client/test/browser/index.html
Labels: build, test, client

#303 refactor(thegraph-subgraph): running build yields these changes
  packages/thegraph-subgraph/subgraph.development.yaml
Labels: thegraph-subgraph

#257 ETH-353: DU protocol fee that can't be set by DU admin
  packages/client/src/Config.ts
  packages/client/src/DataUnion.ts
  packages/client/src/DataUnionAPI.ts
  packages/client/src/DataUnionClient.ts
  packages/client/test/unit/deploy.test.ts
  packages/client/test/unit/fees.test.ts
  packages/client/test/unit/getters.test.ts
  packages/client/test/unit/join.test.ts
  packages/client/test/unit/member.test.ts
  packages/client/test/unit/setup.ts
  packages/client/test/unit/stats.test.ts
  packages/client/test/unit/transfer.test.ts
  packages/client/test/unit/withdraw.test.ts
  packages/contracts/contracts/DefaultFeeOracle.sol
  packages/contracts/contracts/IFeeOracle.sol
  packages/contracts/contracts/unichain/DataUnionFactory.sol
  packages/contracts/contracts/unichain/DataUnionTemplate.sol
  packages/contracts/index.js
  packages/contracts/test/contracts/unichain/DataUnionFactory.test.ts
  packages/contracts/test/contracts/unichain/DataUnionTemplate.test.ts
Labels: test, client, contracts

#284 doc: comments cleanup
  packages/contracts/contracts/CloneLib.sol
  packages/contracts/contracts/Ownable.sol
  packages/contracts/contracts/PurchaseListener.sol
  packages/contracts/contracts/unichain/DataUnionFactory.sol
  packages/contracts/contracts/unichain/DataUnionTemplate.sol
Labels: contracts

#309 Add metadata setter and getter to DU client
  packages/client/src/DataUnion.ts
  packages/client/src/Plugin.ts
  packages/client/src/authFetch.ts
  packages/client/src/log.ts
  packages/client/src/sleep.ts
  packages/client/test/unit/metadata.test.ts
  packages/client/test/until.ts
Labels: test, client

#314 Moved protocol fee beneficiary to the feeOracle
  packages/client/test/unit/setup.ts
  packages/contracts/contracts/DefaultFeeOracle.sol
  packages/contracts/contracts/IFeeOracle.sol
  packages/contracts/contracts/unichain/DataUnionFactory.sol
  packages/contracts/contracts/unichain/DataUnionTemplate.sol
  packages/contracts/test/contracts/unichain/DataUnionFactory.test.ts
  packages/contracts/test/contracts/unichain/DataUnionTemplate.test.ts
Labels: test, client, contracts
