Repository dataunions/dataunions, pull requests merged in 2022-09, with the labels that each got.

#328 Calculate the gasPriceStrategy for maxFeePerGas
  packages/client/src/DataUnionClient.ts
  packages/client/test/unit/gasPriceStrategy.test.ts
Labels: test, client

#339 Make DefaultFeeOracle and DataUnionFactory upgradeable
  .github/workflows/ci.yaml
  package-lock.json
  packages/client/test/unit/setup.ts
  packages/contracts/.openzeppelin/polygon.json
  packages/contracts/.openzeppelin/unknown-100.json
  packages/contracts/Makefile
  packages/contracts/contracts/DefaultFeeOracle.sol
  packages/contracts/contracts/unichain/DataUnionFactory.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/index.js
  packages/contracts/package.json
  packages/contracts/scripts/unichain/deploy-dus.ts
  packages/contracts/test/contracts/unichain/DataUnionFactory.test.ts
  packages/contracts/test/contracts/unichain/DataUnionTemplate.test.ts
Labels: build, ci, test, client, contracts

#331 Doc: update README and all package.json links to github/homepage
  package.json
  packages/client-test-browser/package.json
  packages/client/package.json
  packages/client/test/exports/package.json
  packages/contracts/README.md
  packages/contracts/package.json
  packages/default-join-server/package.json
  packages/join-server/package.json
  packages/thegraph-subgraph/package.json
Labels: build, test, client, join-server, contracts, thegraph-subgraph, default-join-server

#356 Update @streamr/config and contracts
  package-lock.json
  packages/client/package.json
  packages/contracts/package.json
  packages/default-join-server/package.json
  packages/join-server/package.json
Labels: build, client, join-server, contracts, default-join-server

#358 Default chain gnosis -> polygon
  packages/client/src/Config.ts
Labels: client

#365 Add monorepo tooling and improve README
  README.md
  lerna.json
  package-lock.json
  package.json
  packages/client/package.json
  packages/join-server/package.json
  show-versions.mjs
Labels: documentation, build, client, join-server

#367 Remove join-server from client's dependencies
  package-lock.json
  packages/client/package.json
Labels: build, client

#364 Deployed new subgraph for Dataunion V3, indexing new addresses; clean…
  packages/thegraph-subgraph/README.md
  packages/thegraph-subgraph/abis/DataUnionFactory.json
  packages/thegraph-subgraph/abis/DataUnionFactorySidechain.json
  packages/thegraph-subgraph/abis/DataUnionSidechain.json
  packages/thegraph-subgraph/abis/DataUnionTemplate.json
  packages/thegraph-subgraph/package.json
  packages/thegraph-subgraph/subgraph.development.yaml
  packages/thegraph-subgraph/subgraph.gnosis.production.yaml
  packages/thegraph-subgraph/subgraph.polygon.production.yaml
Labels: build, thegraph-subgraph

#377 Module locking fix
  packages/contracts/contracts/unichain/DataUnionTemplate.sol
  packages/contracts/test/contracts/unichain/DataUnionTemplate.test.ts
Labels: test, contracts

#329 Polygon issues debugging
  packages/client/src/Config.ts
  packages/client/src/DataUnion.ts
  packages/client/src/DataUnionAPI.ts
  packages/client/src/DataUnionClient.ts
  packages/client/src/gasPriceStrategies.ts
  packages/client/test/live/polygon.test.ts
  packages/client/test/unit/gasPriceStrategy.test.ts
Labels: test, client

#404 refreshRevenue smart contract function wrapper
  packages/client/src/DataUnion.ts
  packages/client/test/unit/transfer.test.ts
Labels: test, client

#383 ETH-375: added generateEthereumAccount()
  packages/client/README.md
  packages/client/src/DataUnionClient.ts
Labels: client

#417 Add /ping endpoint to join server
  packages/join-server/README.md
  packages/join-server/src/app/JoinServer.js
  packages/join-server/test/app/JoinServer.test.js
Labels: test, join-server

#420 Fix deleteSecret in DataUnion.ts
  packages/client/src/DataUnion.ts
Labels: client

#421 fix getActiveMemberCount
  packages/client/src/DataUnion.ts
  packages/client/test/unit/member.test.ts
Labels: test, client

#422 Fix dataUnion.refreshRevenue()
  packages/client/src/DataUnion.ts
Labels: client
